@model Project.Models.ViewModels.CheckoutVM

<div class="container">
    

    <div class="row">
        
        <div class="col-md-6 mb-4">
            <h2 class="text-center">Dettagli Prenotazione</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Numero Camera</th>
                            <th>Soggiorno Dal</th>
                            <th>Soggiorno Al</th>
                            <th>Tariffa</th>
                            <th>Caparra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.NumeroCamera</td>
                            <td>@Model.SoggiornoDal.ToShortDateString()</td>
                            <td>@Model.SoggiornoAl.ToShortDateString()</td>
                            <td>@Model.Tariffa.ToString("C")</td>
                            <td>@Model.Caparra.ToString("C")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

     
        <div class="col-md-6 mb-4">
            <h2 class="text-center">Dettagli Servizi Aggiuntivi</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Descrizione Servizio</th>
                            <th>Quantità</th>
                            <th>Prezzo per Unità</th>
                            <th>Prezzo Totale</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var servizio in Model.ServiziAgg)
                        {
                            <tr>
                                <td>@servizio.ServizioAgg</td>
                                <td>@servizio.Quantita</td>
                                <td>@(servizio.Prezzo.HasValue ? servizio.Prezzo.Value.ToString("C") : "N/D")</td>
                                <td>@(servizio.Quantita.HasValue && servizio.Prezzo.HasValue ? (servizio.Quantita.Value * servizio.Prezzo.Value).ToString("C") : "N/D")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
    <div class="d-flex justify-content-center mt-3">
        <div class="text-center">
            <h2>Importo da Saldare</h2>
            <h3 class="fs-1">@Model.ImportoDaSaldare.ToString("C")</h3>
        </div>
    </div>

    
    <div class="text-center mt-4">
        <a asp-controller="Home" asp-action="Management" class="btn btn-secondary">Indietro</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
