@model venerdì.Entities.Article

@{
    ViewData["Title"] = "Read";
}

<h1>Dettagli</h1>

<div>
    <h4>Articolo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoverImage)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.CoverImage" alt="Cover Image" class="img-fluid" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalImage1)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.AdditionalImage1" alt="Additional Image 1" class="img-fluid" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalImage2)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.AdditionalImage2" alt="Additional Image 2" class="img-fluid" />
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
